@model IEnumerable<JunaidAcademy.Models.Teacher>
<!-- About -->

<div class="headerimg_container">
    <!-- <img src="~/Content/images/home_slider_1.jpg" alt=""> -->
    <div class="home_slider_content">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="home_slider_title" style="font-size: 50px;">Junaid <span style="color:#efaf06;">Academy</span></div>
                    <div class="home_slider_subtitle" style="font-weight: 900; color: #384158; font-size: 25px;">ABOUT US</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_containers text-center">
                    <h2 class="section_title">Welcome To Junaid <span>Academy</span></h2>
                    <div class="section_subtitle"><p>"The best institution in the area!! The teachers are super qualified,they cooperate with the students well and are pretty understanding,Not only they take care of the student's studies, education and progress but also their mental health and students are provided with not too much but enough picnic/events to make the students relax and the test tasking system will never fail you to cover your whole syllabus without any stress and pressure."</p></div>
                </div>
            </div>
        </div>
        <div class="row about_row">

            <!-- About Item -->
            <div class="col-lg-4 about_col about_col_left">
                <div class="about_item">
                    <!-- <div class="about_item_image"><img src="~/Content/images/about_1.jpg" alt=""></div> -->
                    <div class="about_item_title"><a href="#">Our Stories</a></div>
                    <div class="about_item_text">
                        <p>At Junaid Academy, we believe that everyone should have access to quality education. We strive to create an inclusive learning environment that encourages students to reach their highest potential. Our instructors are passionate about teaching and dedicated to helping our students succeed. We are proud to be part of the educational journey of our students, and we are committed to providing them with the support and guidance they need to reach their goals.</p>
                    </div>
                </div>
            </div>

            <!-- About Item -->
            <div class="col-lg-4 about_col about_col_middle">
                <div class="about_item">
                    <!-- <div class="about_item_image"><img src="~/Content/images/about_2.jpg" alt=""></div> -->
                    <div class="about_item_title"><a href="#">Our Mission</a></div>
                    <div class="about_item_text">
                        <p>
                            Our mission is to provide quality, accessible education to our students. We strive to create a learning environment that is both challenging and rewarding, with courses designed to give you the skills and knowledge to succeed in your chosen field. We are committed to providing an enjoyable learning experience and helping our students reach their highest potential.
                        </p>
                    </div>
                </div>
            </div>

            <!-- About Item -->
            <div class="col-lg-4 about_col about_col_right">
                <div class="about_item">
                    <!-- <div class="about_item_image"><img src="~/Content/images/about_3.jpg" alt=""></div> -->
                    <div class="about_item_title"><a href="#">Our Vision</a></div>
                    <div class="about_item_text">
                        <p>Our vision is to be a leader in providing high-quality, accessible educational opportunities for individuals of all backgrounds. We strive to create an engaging and enriching learning environment that encourages students to reach their full potential. We are committed to helping our students develop the skills and knowledge they need to succeed in their chosen field.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Feature -->

<div class="feature">
    <div class="feature_background" style="background-image:url(../Content/images/courses_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Why Choose Us</h2>
                    <div class="section_subtitle"><p> We strive to provide our students with a quality education and an enjoyable learning experience. Our courses are designed to give you the skills and knowledge you need to succeed in your chosen field. Our instructors are experienced and knowledgeable, and our staff is friendly and helpful. We are committed to providing you with an enjoyable learning environment that is both challenging and rewarding. We believe in the importance of education and are dedicated to helping our students succeed.</p></div>
                </div>
            </div>
        </div>
        <div class="row feature_row">

            <!-- Feature Content -->
            <div class="col-lg-6 feature_col">
                <div class="feature_content">
                    <!-- Accordions -->
                    <div class="accordions">

                        <div class="elements_accordions">

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center"><div>Flexible Class Timings</div></div>
                                <div class="accordion_panel">
                                    <p> we understand the importance of flexible class timings. Our courses are available at different times throughout the day, so you can find a time that works for your schedule. We are committed to helping you get the most out of your learning experience and making sure you have the flexibility to fit education into your lifestyle.</p>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center active"><div>You’re learning from the best.</div></div>
                                <div class="accordion_panel">
                                    <p>Our courses are taught by experienced instructors who have years of experience in their respective fields. They will provide you with the guidance and support you need to succeed. Our courses are designed to be both challenging and rewarding, so you will be able to get the most out of your learning experience.</p>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center"><div>Affordable Fee Structure</div></div>
                                <div class="accordion_panel">
                                    <p>We believe that quality education should be accessible to everyone. That's why we offer an affordable fee structure for all of our courses. We are committed to providing you with an enjoyable learning experience at an affordable price.</p>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center"><div>Weekly & Monthly Assesment Tests</div></div>
                                <div class="accordion_panel">
                                    <p>We believe in testing and assessing our students on a regular basis. We offer weekly and monthly assessment tests to help our students keep track of their progress and make sure they are on the right track. Our assessment tests will help you measure your understanding of the material and identify areas where you can improve. We are committed to helping you reach your highest potential and ensuring you have a successful learning experience.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Accordions End -->
                </div>
            </div>

            <!-- Feature Picture -->
            <div class="col-lg-6 feature_col">
                <div class="feature_video d-flex flex-column align-items-center justify-content-center">
                    <div class="feature_video_background" style="background-image:url(../Content/images/academy.jpg)"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team -->

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">The Best Tutors in Town</h2>
                    <div class="section_subtitle"><p>Our courses are taught by experienced instructors who have years of experience in their respective fields. They will provide you with the guidance and support you need to succeed. Our courses are designed to be both challenging and rewarding, so you will be able to get the most out of your learning experience.</p></div>
                </div>
            </div>
        </div>
        <div class="row team_row">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 team_col">
                    <div class="team_item">
                        @if (item.Image != null)
                        {
                            <div class="team_image"><img src="@Url.Content(item.Image)" alt=""></div>

                        }
                        else
                        {
                            <div class="team_image"><img src="~/Content/images/faculty.png" alt=""></div>
                        }
                        <div class="team_body">
                            <div class="team_title"><a href="#">@Html.DisplayFor(modelItem => item.TGender) @Html.DisplayFor(modelItem => item.TName)</a></div>
                            <div class="team_subtitle">@Html.DisplayFor(modelItem => item.TSubject)</div>
                            <div class="social_list">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>

@section about_js{
    <script src="~/Content/js/about.js"></script>
}